<footer>
    <div class="seccion-footer">
        <h4>Acerca de Nosotros</h4>
    </div>
    <div class="seccion-footer">
        <h4>Contacto</h4>
    </div>
    <div class="seccion-footer">
        <h4>Ubicación</h4>
    </div>
</footer>