<header>
    <nav class="main-navbar">
        <div class="main-header">
            <div class="left-nav">
                <div class="boton-nav">
                    <a href="#" class="hamburger-button">
                        <i class="fas fa-bars" style="color:lightgray"></i>
                    </a>
                </div>
                <div class="logo-nav">
                    <a href="/">
                    <img src="/static/images/logo.png" class="logo">
                    </a>
                </div>
            </div>
            <div class="center-nav">
                <ul class="menu-center-nav">
                    <li><a href="#">Guitarras</a></li>
                    <li><a href="#">Bajos</a></li>
                    <li><a href="#">Baterías</a></li>
                    <li><a href="#">Pianos</a></li>
                    <li><a href="#">Otros instrumentos</a></li>
                    <li><a href="#">Partes</a></li>
                    <li><a href="#">Accesorios</a></li>
                </ul>
            </div>
            <div class="right-nav">
                <div>
                    <input type="text" placeholder="Search...">
                </div>
                <ul>
                    <% if (user === undefined) { %>
                        <li><a href="/register">Registro</a></li>
                        <li><a href="/login">Ingresa</a></li>
                    <% }else{ %>
                        <li><a href="/perfil"><%= user %></a></li>
                    <% } %> 
                    <li>
                        <a href="/productCart"> <i class="fas fa-shopping-cart"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>


</header>