<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header',{user}) %>
    <main>
        <div class="carrito">
            <section class="articulos-carrito">
                <h3>Carrito de compras</h3>
                <article>
                    <img src="static/images/mas-vendido-1.jpg" alt="Guitarra Fender">
                    <div>
                        <h4>Guitarra Fender</h4>
                        <select class="quantity" name="quantity">
                            <option value="1" selected="selected">
                                1</option>
                            <option value="2">
                                2</option>
                            <option value="3">
                                3</option>
                            <option value="4">
                                4</option>
                            <option value="5">
                                5</option>
                        </select>
                        <p>Eliminar</p>
                    </div>
                    <p>$70</p>

                </article>
                <article>
                    <img src="static/images/mas-vendido-1.jpg" alt="Guitarra Fender">
                    <div>
                        <h4>Guitarra Fender</h4>
                        <select class="quantity" name="quantity">
                            <option value="1" selected="selected">
                                1</option>
                            <option value="2">
                                2</option>
                            <option value="3">
                                3</option>
                            <option value="4">
                                4</option>
                            <option value="5">
                                5</option>
                        </select>
                        <p>Eliminar</p>
                    </div>
                    <p>$70</p>

                </article>


            </section>
            <section class="resumen">
                <h3>Resumen de compra</h3>
                <div class="resumen-compra">
                    <div>
                        <p>Subtotal: &nbsp; $100</p>
                        <p>Envio: Gratis</p>

                        <p>Total $100</p>
                    </div>
                    <button>Comprar</button>
                </div>

            </section>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>