/*editProduct*/

.main-edit{
    width:90%;
    margin:0 5vw;
    color:lightgray;
}

.titulo-edit{
    text-align: center;
}

.div-formEdit{
    margin: 10px;
}

.div-formEdit input{
    width: 100%;
    height: 35px;
    margin: 5px 5px 5px 0px;
    padding-left: 3px;
}

.div-formEdit select{
    width: 100%;
    height: 35px;
}

#foto{
    height: 20px;
}

.colores{
    margin: 10px;
}

#descripcion{
    width: 100%;
    padding: 3px;
}

.check-colores{
    display: flex;
    justify-content: space-between;
}

.italics{
    font-style: italic;
}

.botones-edit{
    display: flex;
    justify-content: space-around;
}

.boton{
    border-radius: 10px;
    background-color: #116479; 
    margin-bottom:20px;
    color:lightgray;
    font-weight: bold;
    width: 40vw;
    height: 6vh;
}

.boton:hover{
    background-color: #1FBEE6; 
    color:white;
    transition:.4s;
    cursor:pointer;
}

@media (min-width: 769px){
    .main-edit{
        width: 70%;
        margin: 0 15vw;
    }

    .boton{
        width: 23vw;
    }
}

@media (min-width: 1200px){
    .main-edit{
        width: 50%;
        margin: 0 25vw;
    }
}