/*Main index*/
main{
    background-color: #202020;
    color:lightgray;
}

.slideshow-images{
    width:100%;
}

article{
    background-color: white;
    width:90%;
    margin:10px 0px;
    padding: 5px;
    position: relative;
    height: 20rem;
}

article .descripcion{
    color:#101010;
}

img{
    width: 100%;
}

.contenedor-articulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-articulo{
    filter: gray; 
      -webkit-filter: grayscale(1); 
    height: 70%;
    object-fit: contain;
}

/* */
.span-descuento{
    background-color:#333;
    position: absolute;
    top:5px;
    right:5px;
    padding: 5px;
    font-size: large;
    font-weight: bold;
}

.enlace-products{
    text-align: center;
    padding: 5px;
}

/* Slider */

.slider{
    position: relative;
    overflow: hidden;
    height: 75vh;
    width: 100vw;
}

.slide{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current{
    opacity: 1;
}

.slide .content{
    position: absolute;
    bottom: 50px;
    left: -550px;
    opacity: 0;
    width: 350px;
    background-color: rgba(255,255,255, 0.7);
    color: #333;
    padding: 17px;
}

.slide .content h1{
    margin-bottom: 10px;
}

.slide.current .content{
    opacity: 1;
    transform: translateX(550px);
    transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next{
    position: absolute;
    top:40%;
    right: 15px;
}

.buttons button#prev{
    position: absolute;
    top: 40%;
    left: 15px;
}

.buttons button{
    border: 2px solid #fff;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding:7px 9px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover{
    background-color: #fff;
    color: #333;
}


.slide:first-child{
    background: url(../images/pearl-drumset.jpg) no-repeat center center/cover;
}

.slide:nth-child(2){
    background: url(../images/coronet-ebony.jpg) no-repeat center center/cover;
}

.slide:nth-child(3){
    background: url(../images/amplificador-katana.jpg) no-repeat center center/cover;
}

.slide:nth-child(4){
    background: url(../images/spectra-bass.jpg) no-repeat center center/cover;
}






/*Media queries*/
@media (min-width:361px){
    article:hover { 
        box-shadow: 0px 0px 10px #1FBEE6;  
        /*box-shadow: 0px 0px 10px rgb(207,74,74);*/   
        transition:box-shadow filter .4s;
    }
    article:hover .img-articulo{
        filter:none;
            -webkit-filter: grayscale(0);
    }

    article:hover .descripcion{
        color:#116479;
        /*color:#7e0b0b;*/
    }

    article:hover .span-descuento{
        background-color:#1a3255d3;
        /*color:#7e0b0b;*/
    }
}

@media(max-width: 500px){
    .slide .content {
        position: absolute;
        bottom: 50px;
        right: 0;
        width: 100%;
    }
    
}

@media (min-width: 769px){
    article{
        width:45%;
    }
}

@media (min-width: 1200px){
    article{
        width:22%;
    }
}



