/*productDetail*/
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #202020;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: lightgray;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: lightgray;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #1FBEE6;
}

.contenedor-img-detalle{
    text-align: center;
}

.detail-img{
    padding:10px;
}

.descripcion-boton{
    padding-right:10px;
    display: flex;
    justify-content: space-between;
}

.marca-precio{
    display: flex;
}

.add-carrito, .parr-descripcion{
    padding:10px;
}

.add-carrito{
    border-radius: 20px;
    background-color: #116479; 
    color:lightgray;
}

.add-carrito:hover{
    background-color: #1FBEE6; 
    color:white;
    transition:.4s;
    cursor:pointer;
}

.main-detail{
    color:lightgray;
}

/*Media queries*/
@media (min-width:361px){
    /*cosas main de productDetail*/
    .detail-img{
        width: 90%;
    }
}

@media (min-width: 769px){
    /*productDetail*/
    .detail-img{
        width: 100%;
    }

    .detalles{
        width: 50%;
    }

    .contenedor-detalle{
        display: flex;
        justify-content: space-evenly;
    }
}

@media (min-width: 1200px){

}

