/*Paleta de colores
  white
  lightgray
  #202020
  #101010   
  #1FBEE6;  
  #116479;
*/

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: #202020;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Tamaños headers*/
h1{
    font-size:36px;
    padding: 10px;
}

h2{
    font-size:30px;
    padding: 10px;
}

h3{
    font-size:24px;
    padding: 10px;
}

h4{
    font-size:19px;
    padding: 10px;
}

h5{
    font-size:16px;
    padding: 10px;
}


/*Header*/
header{
    background-color: #101010;
}

a{
    color:lightgray;
}

a:link{
    text-decoration: none;
    color:lightgray;
}

a:hover{
    color:white;
}

.hamburger-button{
    background-color: none;
    display:block;
    max-width: 50px;
    padding: 15px 0px;
    text-align: center;
    font-size: 18px;
    margin: 5px;
}

.logo{
    width:90%;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav{
    width:15%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.fas.fa-bars{
    color:white;
}

ul{
    list-style: none;
}
.center-nav ul, .right-nav ul{
    display: flex;
    justify-content: space-between;
}

.center-nav li, .right-nav li{
    margin: 0 5px;
}

.center-nav{
    display: none;
}

.right-nav{
    display: flex;
    justify-content: space-around;
}

input[type=text]{
    width:100px;
}


footer{
    background-color: #101010;
    margin-top: auto;
    color:lightgray;
    padding: 10px;
}


/*Media queries*/
@media (min-width:361px){
    
}

@media (min-width: 769px){
    .hamburger-button{
        display: none;
    }

    .left-nav{
        width:5%;
    }

    .center-nav{
        display: inline-block;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
<<<<<<< HEAD
=======

    /*productDetail*/
    .detail-img{
        width: 100%;
    }

    .detalles{
        width: 50%;
    }

    .contenedor-detalle{
        display: flex;
        justify-content: space-evenly;
    }

>>>>>>> feature_login-register
}

@media (min-width: 1200px){
    input[type=text]{
        width:150px;
    }
}

